{% extends "menu.html" %}

{% block style %}
    .margin-top-20 {
        margin-top: 20px;
    }

    .center {
        text-align: center;
    }

    .margin-top-50 {
        margin-top: 50px;
    }

    .input {
        height: 300px;
    }

    .row-fill {
        width: 100%;
    }
{% endblock style %}

{% block content %}
    <div class="center margin-top-20">
        <form class="form form-horizontal" method="POST" role="form">
            {{ form.hidden_tag() }}
            {{ form.file }}
            <div class="fill-row margin-top-20">
               {{ form.output_text }}
            </div>
            <div class="margin-top-50">
                {{ form.submit_btn }}
            </div>
        </form>
    </div>
{% endblock content %}