{%- block doc %}
<!DOCTYPE html>
<html lang="en">
{%- block html %}
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Keyword Extraction Tool</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CVarela+Round" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="../static/css/bootstrap.min.css" />
	<link type="text/css" rel="stylesheet" href="../static/css/owl.carousel.css" />
	<link type="text/css" rel="stylesheet" href="../static/css/owl.theme.default.css" />
	<link type="text/css" rel="stylesheet" href="../static/css/magnific-popup.css" />
	<link rel="stylesheet" href="../static/css/font-awesome.min.css">
	<link type="text/css" rel="stylesheet" href="../static/css/style.css" />
    <style>
        {% block style -%} {%- endblock style %}
    </style>
</head>
<body>
{%- block body %}
    <header id="home">
		<div class="bg-img" style="background-image: url('../static/img/background1.jpg');">
			<div class="overlay"></div>
		</div>

		<nav id="nav" class="navbar nav-transparent">
			<div class="container">
				<div class="navbar-header">
				    <div class="navbar-brand">
						<a href="index.html">
							<img class="logo" src="../static/img/logo.png" alt="logo">
							<img class="logo-alt" src="../static/img/logo-alt.png" alt="logo">
						</a>
					</div>
					<div class="nav-collapse">
						<span></span>
					</div>
				</div>
				<ul class="main-nav nav navbar-nav navbar-right">
					<li><a href="{{ url_for('index') }}">Нүүр хуудас</a></li>
					<li><a href="{{ url_for('text') }}">Текст оруулах</a></li>
					<li><a href="{{ url_for('index') }}">Үнэлгээ харах</a></li>
				</ul>
			</div>
		</nav>
        <div class="home-wrapper">
            <div class="container">
                {% block content -%} {%- endblock content %}
            </div>
        </div>
	</header>
{%- endblock body %}
</body>
{%- endblock html %}
</html>
{%- endblock doc %}